<div class="title">
  <i class="dropdown icon"></i>
  {{ name }}
</div>
<div class="content">
  {{# if sub }}
  <div class="ui accordion">
    {{# each sub }}
      {{> filteritem }}
    {{/ each }}
  </div>
  {{/ if }}
</div>

