{{# if sub }}
  <div class="ui title subs">
    <!--
    <div class="ui button blue tiny circular">
      Add
    </div>
    -->
    <div class="add-filter ui button tiny blue icon">
      <i class="add-filter add medium icon"></i>
    </div>
    &nbsp;
    {{ name }}
    <i class="dropdown icon"></i>
  </div>
  <div class="content">
    <div class="ui accordion">
      {{# each sub }}
        {{> filteritem }}
      {{/ each }}
    </div>
  </div>
{{ else }}
  <div class="title">
    <div class="add-filter ui button tiny blue icon">
      <i class="add-filter add icon"></i>
    </div>
    <!--<i class="blue square add icon"></i>-->
    &nbsp;{{ name }}
  </div>
{{/ if }}

