<div class="item">
  <div class="content">
    <a class="result-link header" target="_blank" href="{{ href }}">
      <img class="result-favicon" src="http://getfavicon.appspot.com/{{ href }}"/>
      {{ name }}
    </a>
    <div class="description">{{ desc }}</div>
  </div>
</div>

