/*******************************
            Global
*******************************/

html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/*******************************
            Global
*******************************/

/*-------------------
        Sidebar
--------------------*/

#feed .sidebar {
  overflow: visible;
}

span.add-filter {
    font-weight: bold;
    color: white;
    background: #6ecff5;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    /*border: 1px solid #aaaacc;*/
    box-shadow: rgba(0,0,0,0.0784) 0 0 0 1px inset;
    -webkit-border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
}

span.add-filter:hover {
    background: #18ace3;
}

i.dropdown {
    margin-right: 4px !important;
}

i.whitify {
    color: white;
}

/*-------------------
        Main
--------------------*/

.ui.header .icon:only-child {
  vertical-align: middle;
}

.ui.segment .ui.segment.piled {
    margin-top: 1em;
}


/*-------------------
        Filters
--------------------*/

.filter-detected .icon.right {
    margin: 0em;
}


/*-------------------
        Results
--------------------*/

.result-list {
    border-top: 1px solid #ddeeee;
}

.result-link {
    text-decoration: none;
    line-height: 30px;
}

.result-link {
    color: #2a47b0;
    color: #1E36ED;
}

.result-link:visited {
    color: #2a5db0;
    color: #2a5db0;
}
.result-link img {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 0.5em;
    border-right: 1px solid #ddeeee;
}

.result-link span {
    padding-left: 0.2em;
    vertical-align: middle;
}



/*-------------------
        Grid
--------------------*/

#feed .grid {
  height: 100%;
}

#feed > .grid > .column {
  height: 100%;
}

/*-------------------
       Inbox
--------------------*/

#feed .inbox.tab {
  background-color: #FFFFFF;
}

#feed .inbox.tab .item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#feed .inbox.tab .item .rating {
  margin-top: 0.2rem;
}

#feed .inbox.tab .item .description {
  margin-left: 2em;
}

#feed .page {
  float: right;
  margin-top: 0.9em;
}

#feed .middle.column {
  padding: 1em 2em;
}

#feed .middle.column h2 {
  margin-top: 0em;
}

#feed .right.column {
  padding: 1em 2em;
  background-color: #FAFAFA;
}

/*******************************
          Responsive
*******************************/

@media only screen and (max-width : 1000px) {
  #feed .inbox .date {
    float: none;
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width : 1250px) {
  #feed .left.column > .menu .item {
    font-size: 1rem;
  }
}
